*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;

    height: 2000px;
}

body button{
    background-color:wheat;
}


.header{
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family:Segoe UI;
    
}

.header li{
    display: inline;
    margin-right: 20px;
    font-size: large;
}


.header button{
    height: 40px;
    width: 120px;
    border: 0px;
    border-radius: 5px;

    margin-right: 20px;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    
}

.banner img{
    width: 200px;
    filter: saturate(0.75);
}

.contentFirst{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 350px;
    border-radius: 20px;

    font-family: Arial;

}

.contentFirst .textheadFirst{
    font-size: 50px;
}

.contentFirst .textheadSecond{
    font-size: 20px;
    color: rgb(94, 94, 94);
}

.contentFirst button{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    
    box-shadow: 5px 5px burlywood;
}

.aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    font-family: Arial;
}

.aboutUs h2{
    font-size: 25px;
    font-weight: lighter;
}

.aboutUs i{
    margin-top: 12px;
    margin-right: 12px;
    font-size: 50px;
}